# This is an example file.
# Use a copy of this as a template for configuring a local `.env` file.
# When this application is run locally, variables defined in `.env` are
# loaded as environment variables.

# Django secret. Long and random, e.g.:
# http://www.howtogeek.com/howto/30184/10-ways-to-generate-a-random-password-from-the-command-line/
SECRET_KEY='secret_key_here'

# DEBUG is True by default. Un-comment the following line to set to 'False' to turn it off (e.g. in production).
# DEBUG='False'

# Redis configuration, default port is 6379
REDIS_URL='redis://localhost:6379/1'

# OAuth2 project settings.
# Add the resource you want the access token for
OAUTH2_RESOURCE='https://graph.microsoft.com'
TENANT='fa9b7bc4-84f2-4ea2-932a-26ca2f5fb014'
AUTHORITY_HOST_URL='https://login.microsoftonline.com'
CLIENT_ID='62d15080-139e-4a83-9688-96f55a667d30'
REDIRECT_URI='http://localhost:5000/complete'
PORT=5000
# AUTHORITY_URL = config.AUTHORITY_HOST_URL + '/' + config.TENANT
#TEMPLATE_AUTHZ_URL = ('https://login.microsoftonline.com/{}/oauth2/authorize?' +
#                      'response_type=code&client_id={}&redirect_uri={}&' +
#                      'state={}&resource={}')

#OH_ACTIVITY_PAGE='https://www.openhumans.org/activity/your-project-name-should-be-here/'
#OH_CLIENT_ID='client_id_here'
#OH_CLIENT_SECRET='client_secret_here'

# Your app's base URL, used to construct the redirect URI.
# (Don't include a trailing slash!)
# Defaults to 127.0.0.1:5000, w/redirect URI 'http://127.0.0.1:5000/complete'
APP_BASE_URL='http://0.0.0.0:5000'

# Settings module. Change this if you change the app name.
DJANGO_SETTINGS_MODULE='hub.settings'

RESCUETIME_CLIENT_ID=''
RESCUETIME_CLIENT_SECRET=''
RESCUETIME_REDIRECT_URI='http://127.0.0.1:5000/rescuetime/complete'

#JUPYTERHUB_BASE_URL='https://jupyhub.exp.pilot.aadtest.ca/hub/user-redirect'
# A real base JupyterHub URL, no redirect:
#JUPYTERHUB_URL='https://jupyhub.exp.pilot.aadtest.ca'