{% extends 'gallery/base.html' %}
{% load static %}
{% block content %}

    {%if edit %}
      <h1>Edit your document <code>{{document_name}}</code>.</h1>
    {%else%}
      <h1>Publish your document <code>{{document_name}}</code>.</h1>
    {%endif%}

    <form action="{% url 'edit-document' document_id %}" method="post">
    {% csrf_token %}
    <div class="form-group">
      <label>Name</label>
      <input class="form-control" name="document_name" size=60 type="text"
        value="{{document_name}}"
        placeholder="Change the name of the document" required>
      <p class="help-block">
      Use this field to rename the document.
      </p>
    </div>
    <div class="form-group">
      <label>Document Type</label>
          <select class="form-control" name="document_type">
            {% for doc_type in available_doc_types %}
            <option value="{{ doc_type }}" {% if doc_type == document.document_type %}selected="selected"{% endif %}>{{ doc_type }}</option>
            {% endfor %}
          </select>
      <p class="help-block">
        Changes registered document type.
      </p>
    </div>
    <div class="form-group">
      <label>Description</label>
      <textarea rows=3 class="form-control" name="description" size=60 type="text"
        placeholder="Enter a description for your document" required>{{description}}</textarea>
        <p class="help-block">
        Please give a description of what your document does, which data sources it uses etc.
        You can <a href="https://guides.github.com/features/mastering-markdown/">
          format this text using Markdown</a>.
        </p>
    </div>
    <div class="form-group">
      <label>Spaces</label>
          <select id="spacesList" class="form-control" name="spaces" multiple size="5">
            {% for space in spaces %}
            <option value="{{ space.pk }}" {% if space in selected_spaces %}selected="selected"{% endif %}>{{ space.space_name }}</option>
            {% endfor %}
          </select>
      <p class="help-block">
        Please select spac(es) to publish your document.
      </p>
    </div>
    <div class="form-group">
      <label>Tags</label>
      <input class="form-control" name="tags" size=60 type="text"
        value="{{tags}}"
        placeholder="Enter a comma-separated list of tags" required>
      <p class="help-block">
      Tags make your document more discoverable as people can search & screen for them.
      </p>
    </div>
    <div class="form-group">
      <label>Data Sources</label>
      <input class="form-control" name="data_sources" size=60 type="text"
        value="{{data_sources}}"
        placeholder="Enter a comma-separated list of data sources your document uses" required>
      <p class="help-block">
      Please specify the data sources your document uses. This makes it easier for people to find documents relevant for them.
      </p>
    </div>

    {%if edit %}
      <input type="submit" value="Update" style="margin-top:6px;" class="btn btn-primary">
    {%else%}
      <input type="submit" value="Publish" style="margin-top:6px;" class="btn btn-primary">
    {%endif%}

    </form>
{% endblock %}
