{% extends 'gallery/base.html' %}
{% block content %}
{% load static %}
<h1>Results of your search for <i>{{search_term}}</i></h1>
<div class="table-responsive">
  <table class='table'>
    <thead>
      <tr>
        <th>Document</th>
        <th>Tags & Data Sources</th>
        <th></th>
        <th></th>
        <th></th>
        <th>Last updated</th>
      </tr>
    </thead>
    <tbody>
    {%for document in documents%}
    <tr>
      <td>
        <a href="{%url 'document-details' document.id%}">
          <code>{{document.document_name}}</code> </br>
          <small>by {{document.full_user_name}} </small><i class="fas fa-info-circle"></i>
        </a>
      </td>
      <td>
        {%for tag in document.get_tags_json%}
        <a href="{%url 'search' %}?search_term={{tag}}&search_field=tags">
          <span class="label label-primary">{{tag}}</span></a>
        {%endfor%}</br>
        {%for source in document.get_data_sources_json%}
        <a href="{%url 'search' %}?search_term={{source}}&search_field=data_sources">
        <span class="label label-info">{{source}}</span>
        </a>
        {%endfor%}
      </td>
      <td><a href="#previewModal" data-nbid="{{document.id}}" data-nbtitle="{{document.document_name}}"data-toggle="modal"><button type="button" class="btn btn-default btn-xs">preview <i class="fas fa-camera-retro"></i></button></a></br>
      <a href='{% url 'open-document' document.id %}'><button type="button" class="btn btn-default btn-xs">open document <i class="fas fa-external-link-alt"></i></button></a></td>
      <td>
        <i class="fas fa-eye"></i> {{document.views}}</br>
      </td>
      <td>
        <i class="far fa-heart"></i> {{document.documentlike_set.all|length}}
      </td>
      <td>{{document.updated_at|timesince}} ago</td>
    </tr>
    {%endfor%}
    </tbody>
  </table>
</div>
<nav aria-label="pagination">
      <ul class="pagination">
        {% if documents.has_previous %}
            <li><a href="?page=1&search_term={{search_term}}">&laquo; first</a></li>
            <li><a aria-label="Previous" href="?page={{ documents.previous_page_number }}&search_term={{search_term}}">previous</a></li>
        {% endif %}
            <li class="active"><a href='#'>Page {{ documents.number }} of {{ documents.paginator.num_pages }}</a></li>
        {% if documents.has_next %}
            <li><a href="?page={{ documents.next_page_number }}&search_term={{search_term}}">next</a></li>
            <li><a href="?page={{ documents.paginator.num_pages }}&search_term={{search_term}}">last &raquo;</a></li>
        {% endif %}
      </ul>
</nav>
<div id="previewModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><i><div id='nbtitle_fill'></div></i></code></h4>
      </div>
      <div class="modal-body">
        <div id='document_filler'></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}
