{% extends 'gallery/base.html' %}
{% block content %}
{% load static %}
{% load utilities %}

<h1>Hub Spaces</h1>

<form action="{% url 'spaces-index' %}" method="post">
  {% csrf_token %}
    <button type="submit" name="action" value="add" class="btn btn-success">Create</button>
</form>

<div class="row">
  <div class="col-md-9">
    <div class="table-responsive">
      <table class='table'>
        <thead>
          <tr>
            <th>Space</th>
            <th>My Access</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        {%for hub_space in spaces%}
        <tr>
          <td>
            <a href="{%url 'notebook-index'%}?space={{hub_space.pk}}">
              <code>{{hub_space.space_name}}</code> </br>
            </a>
          </td>
          <td>
            <a href="{%url 'notebook-index'%}?space={{space.pk}}">
              <code>{% space_access hub_space %}</code> </br>
            </a>
          </td>
          <td>
            {% can_admin hub_space as user_can_admin_flag %}
            {%if user_can_admin_flag %}
              <a href="{%url 'space-details' hub_space.id%}"><button type="button" class="btn btn-light">Edit</button></a>
            {%endif%}
          </td>
        </tr>
        {%endfor%}
        </tbody>
      </table>
    </div>
    <nav aria-label="pagination">
          <ul class="pagination">
            {% if spaces.has_previous %}
                <li><a href="?page=1">&laquo; first</a></li>
                <li><a aria-label="Previous" href="?page={{ spaces.previous_page_number }}{%if source%}&source={{source}}{%endif%}">previous</a></li>
            {% endif %}
                <li class="active"><a href='#'>Page {{ spaces.number }} of {{ spaces.paginator.num_pages }}</a></li>
            {% if spaces.has_next %}
                <li><a href="?order_by={{order_by}}&page={{ spaces.next_page_number }}{%if source%}&source={{source}}{%endif%}">next</a></li>
                <li><a href="?order_by={{order_by}}&page={{ spaces.paginator.num_pages }}{%if source%}&source={{source}}{%endif%}">last &raquo;</a></li>
            {% endif %}
          </ul>
    </nav>
  </div>
</div>


{% endblock %}
