
  /* Sticky footer styles
-------------------------------------------------- */
html {
position: relative;
min-height: 100%;
}
body {
/* Margin bottom by footer height */
margin-bottom: 60px;
}
.footer {
position: absolute;
bottom: 0;
width: 100%;
/* Set the fixed height of the footer here */
height: 60px;
background-color: #f5f5f5;
}
.fcontainer .text-muted {
padding: 0 15px;
margin: 20px 0;
}

input[type="file"].form-control {
    height: auto;
}

input.center-button {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.user-list {
  width: 100%;
}

.fcontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}